{% extends "index.html" %}

{% block content %}
<div class="section">
    <h1 class="post-title">{{ section.title }}</h1>
    {{ section.content | safe }}
</div>
<div class="posts">
    {% for _page in section.pages %}
    <div class="post">
        <h1 class="post-title">
            {% set __section = get_section(path="./projects/" ~ _page.title ~ "/_index.md") %}
            {% if __section.extra.logo %}
            <div class="logo">
                <a href="{{get_url(path=__section.path)}}"><img src="{{__section.extra.logo}}"
                        alt="{{__section.title}}"></a>
                <a href="{{get_url(path=__section.path)}}">
                    {{__section.title}}
                </a>
            </div>
            {% else %}
            <a href="{{get_url(path=__section.path)}}">{{__section.title | safe}}</a>
            {% endif%}
        </h1>

        <span class="post-date">{{ _page.date | date(format="%Y-%m-%d") }}</span>
    </div>
    {% endfor %}
</div>
{% endblock content %}